{% extends 'auth_app/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'auth_app/css/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
{% include 'auth_app/includes/prevent_access.html' %}
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form id="resetPasswordForm" role="form" action="{% url 'api:v1:auth_app:reset-password-confirm' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <h2>Reset your password</h2>
        <hr style="border: 1px solid">
        <div id="alert-box"></div> <!-- Для innerHTML -->
        <div id="password1Group" class="form-group">
          <input type="password" name="password1" id="password_1" class="form-control input-lg" placeholder="New password">
        </div>
        <div id="password2Group" class="form-group">
          <input type="password" name="password2" id="password_2" class="form-control input-lg" placeholder="Repeat">
        </div><!-- href="#" data-target="#pwdModal" data-toggle="modal" - все это не нужно!-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Reset">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock container %}

{% block jquery %}
$.getScript('{% static 'auth_app/js/reset.js' %}');
{% endblock %}
